
/* Maybe */

#logo
    background: url( ../images/logo-app.png ) 0 0 no-repeat
#toggle-autosave
    position: relative
    top: -1px
    margin-left: 8px
    & > .btn
        width: 3em
        i
            top: 1px
            position: relative
#toggle-zoom
    position: relative
    top: -1px
    margin-left: 8px

/* Dropdowns */
.dropdown-menu
    font-size: 0.9333em

/* Next Steps */
.next-step-item
    border-left: 4px solid $juniper
    box-shadow: 0 1px 0 $gray-lighter
    line-height: 1.4em
    padding: 8px 0 7px 10px
    background-color: $aspen
    list-style: none
    margin-bottom: 1px
    @include border-radius(3px)
    font-size: 0.9em
    position: relative
    a
        color: #333
    i.checkbox
        /* 20px */
        font-size: 1.5384em
        float: left
        margin-right: 10px
        color: #666
        position: relative
        top: 1px
    &.complete
        border-left-color: #999
        i
            color: #ddd
        a
            color: #aaa
    span.round
        display: inline-block
        font-size: 0.8667em
        color: #777
        line-height: 1.5em
        background: $aspen-dark
        padding: 2px 6px
        white-space: nowrap
        @include border-radius(2px)
    span.success
        display: inline-block
        background-color: #c0e5c0
        color: #2ba02b
    .controls
        position: absolute
        top: 9px
        right: 7px
        i
            font-size: 1.3em
            color: #999
            cursor: pointer
            &.edit-next-step
                margin-right: 5px
    &.w-controls
        .wrap
            display: inline-block
            padding-right: 65px
